@charset "utf-8";

$blue700: #1976d2;
$teal400: #26a69a;
$brown700: #5d4037;
$blue300: #64b5f6;
$light-green700: #388e3c;
$beige-light: #d0d1cd;
$beige-lighter: #eff0eb;

@import url('https://fonts.googleapis.com/css?family=Delius:400,700&display=swap');
$family-sans-serif: 'Delius', sans-serif;
$grey-dark: $brown700;
$grey-light: $beige-light;
$primary: $blue700;
$info: $blue300;
$success: $light-green700;
$link: $teal400;

$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;

@import '../node_modules/@fortawesome/fontawesome-free/css/all.css';
@import '../node_modules/bulma/sass/utilities/_all.sass';
@import '../node_modules/bulma/sass/base/_all.sass';
@import '../node_modules/bulma/sass/grid/all.sass';
@import '../node_modules/bulma/sass/elements/button.sass';
@import '../node_modules/bulma/sass/elements/container.sass';
@import '../node_modules/bulma/sass/elements/form.sass';
@import '../node_modules/bulma/sass/elements/title.sass';
@import '../node_modules/bulma/sass/components/navbar.sass';
@import '../node_modules/bulma/sass/components/message';
@import '../node_modules/bulma/sass/components/panel';
@import '../node_modules/bulma/sass/layout/hero.sass';
@import '../node_modules/bulma/sass/layout/section.sass';
